#hplogo {
    background: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) no-repeat;
    height:92px;
    width:272px;
}
.search-container .logo-subtext {
  color: #4285f4;
  position: relative;
  left: 110px;
  top: -18px;
}
