html, body {
    font-family: arial,sans-serif;
    font-size: small;
    height: 100%;
    margin: 0;
}
div#viewport {
	position: absolute;
	top: 0;
    width: 100%;
    min-height: 100%;
}
.ctr-p {
    width: auto;
    min-width: 400px;
    margin: 0 auto;
}
/* THE gb div starts here */
#gb {
    display: block;
    text-align: right;
    padding-top: 16px;
    padding-right: 30px;
}
.header_links {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    display:inline-block;
    line-height: 24px;
    margin-right:15px;
}
.header_links:hover {
    opacity: .85;
    text-decoration: underline;
}
#signin {
    color: #fff;
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}
#signin:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
/* THE searchform div starts here */
#searchform {
    margin-top: 0;
    min-width: 400px;
    top: 269px;
    position: absolute;
    width: 100%;
}
#tsf {
    overflow: visible;
    width: 1139px;
    margin: 0 auto;
}
#form_div {
    width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}
.container {
    width: 582px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}
.container:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.search {
	flex: 1;
	display: flex;
	padding: 5px 8px 0 14px;
}
.search input{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}
#icon {
	display: flex;
	align-items: center;
	padding-right: 13px;
	margin-top: -5px;
}
#icon_span {
	margin-top: 3px;
	color: #9aa0a6;
	height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}
svg {
    display: block;
    height: 100%;
    width: 100%;
}
.submit {
    height: 70px;
    padding-top: 18px;
}
.submit input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.submit input:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
}
/* THE main div starts here */
#main {
    padding-bottom: 35px;
}
#body, #footer {
	display: block;
}
#footer {
	bottom: 0;
	font-size: 10pt;
	height: 105px;
	width: 100%;
}
#footer a {
    display: inline-block;
    color: #5f6368;
}
#fbarcnt {
	display: block;
	height: auto !important;
}
#fbar {
	background: #f2f2f2;
	line-height: 40px;
    border-top: 1px solid #e4e4e4;
    min-width: 400px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
/* #fbar .fbar */
.fbar {
    font-size: 14px;
    margin-left: -27px;
}
.fbar a {
	text-decoration: none;
	white-space: nowrap;
}
.fbar a:hover {
    text-decoration: underline;
}
#country {
	margin-left: 30px;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
}
#fsr {
	float: right;
	margin-right: 30px;
	white-space: nowrap;
}
#fsl {
    margin-left: 30px;
    white-space: nowrap;
}
.footer_links {
	padding-left: 27px;
	margin: 0 !important;
}
#hplogo {
    background: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) no-repeat;
    height:92px;
    width:272px;
}
// Google Inc.
</script>
<style>
h1,ol,ul,li,button {
    margin: 0;
    padding: 0
}

button {
    border: none;
    background: none
}

body,input,button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222
}

a {
    color: #1a0dab;
    text-decoration: none
}

a:hover,a:active {
    text-decoration: underline
}

a:visited {
    color: #609
}

html,body {
    min-width: 400px
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0
}

.gb_4a:not(.gb_Xd) {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986
}

@-webkit-keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

a.gb_0 {
    border: none;
    color: #4285f4;
    cursor: default;
    font-weight: bold;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-user-select: none
}

a.gb_0:hover:after,a.gb_0:focus:after {
    background-color: rgba(0,0,0,.12);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

a.gb_0:hover,a.gb_0:focus {
    text-decoration: none
}

a.gb_0:active {
    background-color: rgba(153,153,153,.4);
    text-decoration: none
}

a.gb_1 {
    background-color: #4285f4;
    color: #fff
}

a.gb_1:active {
    background-color: #0043b2
}

.gb_2 {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 1px rgba(0,0,0,.16)
}

.gb_0,.gb_1,.gb_3,.gb_4 {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.gb_3 {
    background: #f8f8f8;
    border: 1px solid #c6c6c6
}

.gb_4 {
    background: #f8f8f8
}

.gb_3,#gb a.gb_3.gb_3,.gb_4 {
    color: #666;
    cursor: default;
    text-decoration: none
}

#gb a.gb_4.gb_4 {
    cursor: default;
    text-decoration: none
}

.gb_4 {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)
}

#gb a.gb_4.gb_4 {
    color: #fff
}

.gb_4:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}

.gb_4:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: linear-gradient(top,#3c7ae4,#3f76d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)
}

.gb_Ja {
    display: none!important
}

.gb_Ka {
    visibility: hidden
}

.gb_md {
    display: inline-block;
    vertical-align: middle
}

.gb_Xf {
    position: relative
}

.gb_D {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none
}

#gb#gb a.gb_D {
    color: #000;
    cursor: pointer;
    text-decoration: none
}

.gb_6a {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    top: 43px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s
}

.gb_7a {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    top: 42px
}

x:-o-prefocus,div.gb_7a {
    border-bottom-color: #ccc
}

.gb_F {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text
}

.gb_md.gb_oa .gb_6a,.gb_md.gb_oa .gb_7a,.gb_md.gb_oa .gb_F,.gb_oa.gb_F {
    display: block
}

.gb_md.gb_oa.gb_Zf .gb_6a,.gb_md.gb_oa.gb_Zf .gb_7a {
    display: none
}

.gb_0f {
    position: absolute;
    right: 8px;
    top: 62px;
    z-index: -1
}

.gb_Ra .gb_6a,.gb_Ra .gb_7a,.gb_Ra .gb_F {
    margin-top: -10px
}

.gb_md:first-child,#gbsfw:first-child+.gb_md {
    padding-left: 4px
}

.gb_ta.gb_7e .gb_md:first-child {
    padding-left: 0
}

.gb_4c {
    position: relative
}

.gb_Tc .gb_4c,.gb_fe .gb_4c {
    float: right
}

.gb_D {
    padding: 8px;
    cursor: pointer
}

.gb_ta .gb_6c:not(.gb_0):focus img {
    background-color: rgba(0,0,0,0.20);
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_8e button:focus svg,.gb_8e button:hover svg,.gb_8e button:active svg,.gb_D:focus,.gb_D:hover,.gb_D:active,.gb_D[aria-expanded=true] {
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_Cc .gb_8e.gb_9e button:focus svg,.gb_Cc .gb_8e.gb_9e button:focus:hover svg,.gb_8e button:focus svg,.gb_8e button:focus:hover svg,.gb_D:focus,.gb_D:focus:hover {
    background-color: rgba(60,64,67,0.1)
}

.gb_Cc .gb_8e.gb_9e button:active svg,.gb_8e button:active svg,.gb_D:active {
    background-color: rgba(60,64,67,0.12)
}

.gb_Cc .gb_8e.gb_9e button:hover svg,.gb_8e button:hover svg,.gb_D:hover {
    background-color: rgba(60,64,67,0.08)
}

.gb_ja .gb_D.gb_Ua:hover {
    background-color: transparent
}

.gb_D[aria-expanded=true],.gb_D:hover[aria-expanded=true] {
    background-color: rgba(95,99,104,0.24)
}

.gb_D[aria-expanded=true] .gb_af,.gb_D[aria-expanded=true] .gb_bf {
    fill: #5f6368;
    opacity: 1
}

.gb_Cc .gb_8e button:hover svg,.gb_Cc .gb_D:hover {
    background-color: rgba(232,234,237,0.08)
}

.gb_Cc .gb_8e button:focus svg,.gb_Cc .gb_8e button:focus:hover svg,.gb_Cc .gb_D:focus,.gb_Cc .gb_D:focus:hover {
    background-color: rgba(232,234,237,0.10)
}

.gb_Cc .gb_8e button:active svg,.gb_Cc .gb_D:active {
    background-color: rgba(232,234,237,0.12)
}

.gb_Cc .gb_D[aria-expanded=true],.gb_Cc .gb_D:hover[aria-expanded=true] {
    background-color: rgba(255,255,255,0.12)
}

.gb_Cc .gb_D[aria-expanded=true] .gb_af,.gb_Cc .gb_D[aria-expanded=true] .gb_bf {
    fill: #ffffff;
    opacity: 1
}

.gb_md {
    padding: 4px
}

.gb_ta.gb_7e .gb_md {
    padding: 4px 2px
}

.gb_ta.gb_7e .gb_Va.gb_md {
    padding-left: 6px
}

.gb_F {
    z-index: 991;
    line-height: normal
}

.gb_F.gb_cf {
    left: 8px;
    right: auto
}

@media (max-width: 350px) {
    .gb_F.gb_cf {
        left:0
    }
}

.gb_df .gb_F {
    top: 56px
}

.gb_C .gb_D,.gb_E .gb_C .gb_D {
    background-position: -64px -29px
}

.gb_j .gb_C .gb_D {
    background-position: -29px -29px;
    opacity: 1
}

.gb_C .gb_D,.gb_C .gb_D:hover,.gb_C .gb_D:focus {
    opacity: 1
}

.gb_Zd {
    display: none
}

.gb_7c {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 48px;
    margin-bottom: 2px;
    opacity: 1;
    overflow: hidden;
    padding-left: 16px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    top: 2px;
    white-space: nowrap;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto
}

.gb_7c.gb_8c {
    color: #3c4043
}

.gb_ta.gb_ua .gb_7c {
    margin-bottom: 0
}

.gb_9c.gb_ad .gb_7c {
    padding-left: 4px
}

.gb_ta.gb_ua .gb_bd {
    position: relative;
    top: -2px
}

.gb_ta {
    color: black;
    min-width: 320px;
    position: relative;
    -webkit-transition: box-shadow 250ms;
    transition: box-shadow 250ms
}

.gb_ta.gb_Lc {
    min-width: 240px
}

.gb_ta.gb_0d .gb_2c {
    display: none
}

.gb_ta.gb_0d .gb_1d {
    height: 56px
}

header.gb_ta {
    display: block
}

.gb_ta svg {
    fill: currentColor
}

.gb_2d {
    position: fixed;
    top: 0;
    width: 100%
}

.gb_3d {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2)
}

.gb_4d {
    height: 64px
}

.gb_ta:not(.gb_Oc) .gb_dd.gb_ed:not(.gb_5d):not(.gb_6d),.gb_ta:not(.gb_Oc) .gb_Ud:not(.gb_5d):not(.gb_6d),.gb_ta.gb_7d .gb_dd.gb_ed.gb_5d,.gb_ta.gb_7d .gb_Ud.gb_5d,.gb_ta.gb_7d .gb_dd.gb_ed.gb_6d,.gb_ta.gb_7d .gb_Ud.gb_6d {
    display: none!important
}

.gb_1d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: -webkit-min-content;
    min-width: min-content
}

.gb_ta:not(.gb_ua) .gb_1d {
    padding: 8px
}

.gb_ta.gb_8d .gb_1d {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.gb_ta .gb_1d.gb_9d.gb_ae {
    min-width: 0
}

.gb_ta.gb_ua .gb_1d {
    padding: 4px;
    padding-left: 8px;
    min-width: 0
}

.gb_2c {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none
}

.gb_ce>.gb_2c {
    display: table-cell;
    width: 100%
}

.gb_9c {
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.gb_ta.gb_ua .gb_9c {
    padding-right: 14px
}

.gb_de {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%
}

.gb_de>:only-child {
    display: inline-block
}

.gb_3c.gb_Uc {
    padding-left: 4px
}

.gb_3c.gb_ee,.gb_ta.gb_8d .gb_3c,.gb_ta.gb_ua:not(.gb_fe) .gb_3c {
    padding-left: 0
}

.gb_ta.gb_ua .gb_3c.gb_ee {
    padding-right: 0
}

.gb_ta.gb_ua .gb_3c.gb_ee .gb_ja {
    margin-left: 10px
}

.gb_Uc {
    display: inline
}

.gb_ta.gb_Oc .gb_3c.gb_ge,.gb_ta.gb_fe .gb_3c.gb_ge {
    padding-left: 2px
}

.gb_7c {
    display: inline-block
}

.gb_3c {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.gb_fe {
    height: 48px
}

.gb_ta.gb_fe {
    min-width: initial;
    min-width: auto
}

.gb_fe .gb_3c {
    float: right;
    padding-left: 32px
}

.gb_fe .gb_3c.gb_he {
    padding-left: 0
}

.gb_ie {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: text
}

.gb_je {
    -webkit-transition: background-color .4s;
    transition: background-color .4s
}

.gb_ke {
    color: black
}

.gb_Cc {
    color: white
}

.gb_ta a,.gb_Ic a {
    color: inherit
}

.gb_t {
    color: rgba(0,0,0,0.87)
}

.gb_ta svg,.gb_Ic svg,.gb_9c .gb_le,.gb_Tc .gb_le {
    color: #5f6368;
    opacity: 1
}

.gb_Cc svg,.gb_Ic.gb_Mc svg,.gb_Cc .gb_9c .gb_le,.gb_Cc .gb_9c .gb_Bc,.gb_Cc .gb_9c .gb_bd,.gb_Ic.gb_Mc .gb_le {
    color: rgba(255,255,255, .87 )
}

.gb_Cc .gb_9c .gb_va:not(.gb_me) {
    opacity: .87
}

.gb_8c {
    color: inherit;
    opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

.gb_Cc .gb_8c,.gb_ke .gb_8c {
    opacity: 1
}

.gb_ne {
    position: relative
}

.gb_oe {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px
}

a.gb_g,span.gb_g {
    color: rgba(0,0,0,0.87);
    text-decoration: none
}

.gb_Cc a.gb_g,.gb_Cc span.gb_g {
    color: white
}

a.gb_g:hover,a.gb_g:focus {
    opacity: .85;
    text-decoration: underline
}

.gb_h {
    display: inline-block;
    padding-left: 15px
}

.gb_h .gb_g {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle
}

.gb_pe {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.gb_ta.gb_fe .gb_pe {
    margin-left: 8px
}

#gb a.gb_4.gb_4.gb_pe,#gb a.gb_3.gb_3.gb_pe {
    cursor: pointer
}

.gb_4.gb_pe:hover {
    background: #2b7de9;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

.gb_4.gb_pe:focus,.gb_4.gb_pe:hover:focus {
    background: #5094ed;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

.gb_4.gb_pe:active {
    background: #63a0ef;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

.gb_pe:not(.gb_3) {
    background: #1a73e8;
    border: 1px solid transparent
}

.gb_ta.gb_ua .gb_pe {
    padding: 9px 15px;
    min-width: 80px
}

.gb_qe {
    text-align: left
}

#gb a.gb_4.gb_ka.gb_pe,#gb a.gb_pe.gb_3 {
    background: #ffffff;
    border-color: #dadce0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1a73e8
}

#gb a.gb_4.gb_ka.gb_pe:hover,#gb a.gb_pe.gb_3:hover {
    background: #f8fbff;
    border-color: #cce0fc
}

#gb a.gb_4.gb_ka.gb_pe:focus,#gb a.gb_4.gb_ka.gb_pe:focus:hover,#gb a.gb_pe.gb_3:focus,#gb a.gb_pe.gb_3:focus:hover {
    background: #f4f8ff;
    border-color: #c9ddfc
}

#gb a.gb_4.gb_ka.gb_pe:active,#gb a.gb_pe.gb_3:active {
    background: #ecf3fe
}

#gb a.gb_4.gb_ka.gb_pe:active {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3),0 2px 6px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3),0 2px 6px 2px rgba(0,0,0,0.15)
}

#gb a.gb_pe.gb_3:not(.gb_ka):active {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15)
}

.gb_ja {
    background-color: rgba(255,255,255,0.88);
    border: 1px solid #dadce0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    max-height: 48px;
    overflow: hidden;
    outline: none;
    padding: 0;
    vertical-align: middle;
    width: 134px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.gb_ja.gb_ka {
    background-color: transparent;
    border: 1px solid #5f6368
}

.gb_la {
    width: 115px
}

.gb_ma {
    display: inherit
}

.gb_ma.gb_ka {
    background: #ffffff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    left: 8px;
    margin-right: 5px;
    position: relative;
    padding: 3px;
    top: -1px
}

.gb_ma.gb_na.gb_ka {
    left: 6px;
    margin-right: 2px
}

.gb_ja:hover {
    border: 1px solid #d2e3fc;
    background-color: rgba(248,250,255,0.88)
}

.gb_ja.gb_ka:hover {
    border: 1px solid #5f6368;
    background-color: rgba(232,234,237,0.08)
}

.gb_ja:focus {
    border: 1px solid #fff;
    background-color: rgba(255,255,255);
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15)
}

.gb_ja.gb_ka:focus {
    border: 1px solid #e8eaed;
    background-color: #38383b
}

.gb_ja.gb_ka:active,.gb_ja.gb_oa.gb_ka:focus {
    border: 1px solid #5f6368;
    background-color: #333438
}

.gb_pa {
    display: inline-block;
    padding-left: 7px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    width: 78px
}

.gb_pa.gb_ka {
    line-height: 26px;
    width: 72px
}

.gb_pa.gb_qa.gb_ka {
    line-height: 30px;
    width: 57px
}

.gb_pa.gb_qa {
    line-height: 40px;
    width: 59px
}

.gb_pa.gb_ka {
    padding-left: 0;
    padding-bottom: 0
}

.gb_pa.gb_ra {
    background-color: #f1f3f4;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 0
}

.gb_pa.gb_ra .gb_sa {
    vertical-align: middle
}

.gb_ta:not(.gb_ua) .gb_ja {
    margin-left: 10px;
    margin-right: 4px
}

.gb_ja .gb_sa.gb_va {
    min-width: 0
}

.gb_wa {
    max-height: 32px;
    width: 78px
}

.gb_qa>.gb_wa {
    max-height: 40px;
    width: 96px
}

.gb_wa.gb_ka {
    max-height: 26px;
    width: 72px
}

.gb_qa>.gb_wa.gb_ka {
    max-height: 30px;
    width: 88px
}

.gb_La {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0
}

.gb_Ma {
    background-color: #e8f0fe;
    border: 1px solid rgba(32,33,36,.08);
    position: relative
}

.gb_Ma.gb_La {
    height: 30px;
    width: 30px
}

.gb_Ma.gb_La:hover,.gb_Ma.gb_La:active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.gb_Na {
    background: #fff;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.30),0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30),0 1px 3px 1px rgba(60,64,67,.15);
    height: 14px;
    margin: 2px;
    position: absolute;
    right: 0;
    width: 14px
}

.gb_Oa {
    color: #1f71e7;
    font: 400 22px/32px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase
}

@media (min-resolution: 1.25dppx),(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-device-pixel-ratio:1.25) {
    .gb_La::before {
        display:inline-block;
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_Pa::before {
        display: inline-block;
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_l .gb_Pa::before {
        -webkit-transform: scale(0.416666667);
        transform: scale(0.416666667)
    }
}

.gb_La:hover,.gb_La:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}

.gb_La:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
}

.gb_La:active::after {
    background: rgba(0,0,0,.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%
}

.gb_Qa {
    cursor: pointer;
    line-height: 40px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}

.gb_D.gb_Qa {
    width: auto
}

.gb_Qa:hover,.gb_Qa:focus {
    opacity: .85
}

.gb_Ra .gb_Qa,.gb_Ra .gb_Sa {
    line-height: 26px
}

#gb#gb.gb_Ra a.gb_Qa,.gb_Ra .gb_Sa {
    font-size: 11px;
    height: auto
}

.gb_Ta {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}

.gb_Ua:hover .gb_Ta {
    opacity: .85
}

.gb_ja>.gb_Va {
    padding: 3px 3px 3px 4px
}

.gb_Wa.gb_Ka {
    color: #fff
}

.gb_j .gb_Qa,.gb_j .gb_Ta {
    opacity: 1
}

#gb#gb.gb_j.gb_j a.gb_Qa,#gb#gb .gb_j.gb_j a.gb_Qa {
    color: #fff
}

.gb_j.gb_j .gb_Ta {
    border-top-color: #fff;
    opacity: 1
}

.gb_E .gb_La:hover,.gb_j .gb_La:hover,.gb_E .gb_La:focus,.gb_j .gb_La:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15) , 0 1px 2px rgba(0,0,0,.2) ;
    box-shadow: 0 1px 0 rgba(0,0,0,.15) , 0 1px 2px rgba(0,0,0,.2)
}

.gb_Xa .gb_Va,.gb_Za .gb_Va {
    position: absolute;
    right: 1px
}

.gb_Va.gb_i,.gb_0a.gb_i,.gb_Ua.gb_i {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size
}

.gb_1a.gb_2a .gb_Qa {
    width: 30px!important
}

.gb_3a {
    height: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px
}

.gb_4a .gb_3a,.gb_5a .gb_3a {
    right: 0;
    top: 0
}

.gb_Va .gb_D {
    padding: 4px
}

.gb_se {
    display: none
}

.gb_cd {
    display: none
}

.gb_cd.gb_oa {
    display: block
}

.gb_dd {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    box-shadow: 0 1px 0 rgba(0,0,0,0.08);
    color: #000;
    position: relative;
    z-index: 986
}

.gb_ed {
    height: 40px;
    padding: 16px 24px;
    white-space: nowrap
}

.gb_dd .gb_6c {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    min-width: 32px;
    padding: 0 16px;
    vertical-align: middle
}

.gb_dd .gb_6c:before {
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 100%
}

.gb_dd .gb_6c:after {
    bottom: -6px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%
}

.gb_dd .gb_6c+.gb_6c {
    margin-left: 8px
}

.gb_fd {
    height: 48px;
    padding: 4px;
    margin: -8px 0 0 -8px
}

.gb_gd {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    overflow: hidden;
    vertical-align: top
}

.gb_ed .gb_gd {
    display: inline-block;
    padding-left: 8px;
    width: 640px
}

.gb_hd {
    background-color: inherit
}

.gb_ed .gb_hd {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 24px
}

.gb_hd .gb_id {
    height: 1.5em;
    margin: -.25em 10px -.25em 0;
    vertical-align: text-top;
    width: 1.5em
}

.gb_jd {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,.87)
}

.gb_ed .gb_jd,.gb_ed .gb_kd {
    width: 640px
}

.gb_kd .gb_ld,.gb_kd {
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,.54)
}

.gb_md.gb_nd {
    padding: 0
}

.gb_nd .gb_F {
    background: #ffffff;
    border: solid 1px transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px;
    right: 16px;
    top: 72px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(65,69,73,0.3),0 3px 6px 2px rgba(65,69,73,0.15);
    box-shadow: 0 1px 2px 0 rgba(65,69,73,0.3),0 3px 6px 2px rgba(65,69,73,0.15)
}

.gb_nd .gb_F.gb_od {
    right: 60px;
    top: 48px
}

.gb_nd .gb_F.gb_pd {
    top: 62px
}

a.gb_qd {
    color: #5f6368!important;
    font-size: 22px;
    height: 24px;
    opacity: 1;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    text-decoration: none!important;
    width: 24px
}

a.gb_qd:focus,a.gb_qd:active,a.gb_qd:focus:hover {
    background-color: #e8eaed;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline: none
}

a.gb_qd:hover {
    background-color: #f1f3f4;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline: none
}

svg.gb_rd {
    fill: #5f6368;
    opacity: 1
}

.gb_sd {
    padding: 0;
    white-space: normal;
    display: table
}

.gb_td {
    line-height: normal;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif
}

.gb_nd .gb_4:active {
    outline: none;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.16);
    box-shadow: 0 4px 5px rgba(0,0,0,.16)
}

.gb_0.gb_ud.gb_vd {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 70px;
    outline: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased
}

.gb_0.gb_wd.gb_vd {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    color: #5f6368;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 70px;
    outline: none;
    padding: 8px 6px;
    text-transform: none;
    -webkit-font-smoothing: antialiased
}

.gb_0.gb_ud.gb_vd {
    background: white;
    border: 1px solid #dadce0;
    color: #1a73e8;
    margin-top: 21px;
    padding: 9px 7px
}

.gb_0.gb_ud.gb_vd:hover {
    background-color: rgba(26,115,232,0.04)
}

.gb_0.gb_ud.gb_vd:focus,.gb_0.gb_ud.gb_vd:focus:hover {
    background-color: rgba(26,115,232,0.12);
    border: solid 1px #1a73e8
}

.gb_0.gb_ud.gb_vd:active {
    background-color: rgba(26,115,232,0.1);
    border-color: transparent
}

.gb_0.gb_wd:hover {
    background-color: #f8f9fa
}

.gb_0.gb_wd:focus,.gb_0.gb_wd:hover:focus {
    background-color: #f1f3f4;
    border-color: transparent
}

.gb_0.gb_wd:active {
    background-color: #f1f3f4;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15)
}

.gb_ld {
    color: #5f6368;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 5px
}

.gb_xd {
    text-align: right;
    font-size: 14px;
    padding-bottom: 0;
    white-space: nowrap
}

.gb_xd .gb_yd,.gb_xd .gb_zd {
    margin-left: 12px;
    text-transform: none
}

a.gb_4.gb_yd:hover {
    background-color: #2b7de9;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

a.gb_4.gb_yd:focus,a.gb_4.gb_yd:hover:focus {
    background-color: #5094ed;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

a.gb_4.gb_yd:active {
    background-color: #63a0ef;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15)
}

.gb_xd .gb_vd.gb_yd img {
    background-color: inherit;
    -webkit-border-radius: initial;
    border-radius: initial;
    height: 18px;
    margin: 0 8px 0 4px;
    vertical-align: text-top;
    width: 18px
}

.gb_Ad .gb_sd .gb_Bd .gb_vd {
    border: 2px solid transparent
}

.gb_sd .gb_Bd .gb_vd:focus:after,.gb_sd .gb_Bd .gb_vd:hover:after {
    background-color: transparent
}

.gb_td {
    background-color: #404040;
    color: #fff;
    padding: 16px;
    position: absolute;
    top: 62px;
    min-width: 328px;
    max-width: 650px;
    right: 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4)
}

.gb_td a,.gb_td a:visited {
    color: #5e97f6;
    text-decoration: none
}

.gb_Cd {
    text-transform: uppercase
}

.gb_Dd {
    padding-left: 50px
}

.gb_Ed {
    color: #3c4043;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12px
}

.gb_ld a.gb_Hd {
    text-decoration: none;
    color: #5e97f6
}

.gb_ld a.gb_Hd:visited {
    color: #5e97f6
}

.gb_ld a.gb_Hd:hover,.gb_ld a.gb_Hd:active {
    text-decoration: underline
}

.gb_Id {
    position: absolute;
    background: transparent;
    top: -999px;
    z-index: -1;
    visibility: hidden;
    margin-top: 1px;
    margin-left: 1px
}

#gb .gb_nd {
    margin: 0
}

.gb_nd .gb_6c {
    background: #4d90fe;
    border: 2px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    margin-top: 21px;
    min-width: 70px;
    text-align: center;
    -webkit-font-smoothing: antialiased
}

.gb_nd a.gb_4 {
    background: #1a73e8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    padding: 8px 22px;
    -webkit-font-smoothing: antialiased
}

.gb_nd a.gb_4.gb_Jd {
    background: #d93025
}

.gb_nd a.gb_4.gb_Jd:hover {
    background-color: #cc3127;
    -webkit-box-shadow: 0 -1px 5px rgba(128,134,139,0.09),0 3px 5px rgba(128,134,139,0.06),0 1px 2px rgba(60,64,67,0.3),0 1px 3px rgba(60,64,67,0.15);
    box-shadow: 0 -1px 5px rgba(128,134,139,0.09),0 3px 5px rgba(128,134,139,0.06),0 1px 2px rgba(60,64,67,0.3),0 1px 3px rgba(60,64,67,0.15)
}

.gb_nd a.gb_4.gb_Jd:focus,.gb_nd a.gb_4.gb_Jd:focus:hover {
    background-color: #b3332c;
    -webkit-box-shadow: none;
    box-shadow: none
}

.gb_nd a.gb_4.gb_Jd:active,.gb_nd a.gb_4.gb_Jd:focus:active {
    background-color: #a6342e;
    -webkit-box-shadow: 0 -2px 8px rgba(128,134,139,0.09),0 4px 8px rgba(128,134,139,0.06),0 1px 2px rgba(60,64,67,0.3),0 2px 6px rgba(60,64,67,0.15);
    box-shadow: 0 -2px 8px rgba(128,134,139,0.09),0 4px 8px rgba(128,134,139,0.06),0 1px 2px rgba(60,64,67,0.3),0 2px 6px rgba(60,64,67,0.15)
}

.gb_nd.gb_Kd a.gb_4 {
    float: right
}

#gb .gb_nd a.gb_6c.gb_6c {
    color: #ffffff;
    cursor: pointer
}

.gb_nd .gb_6c:hover {
    background: #357ae8;
    border-color: #2f5bb7
}

.gb_Ld,.gb_Bd {
    display: table-cell
}

.gb_Ld {
    vertical-align: middle
}

.gb_Ld img {
    height: 48px;
    padding-left: 4px;
    padding-right: 20px;
    width: 48px
}

.gb_Bd {
    padding-left: 13px;
    width: 100%
}

.gb_nd .gb_Bd {
    padding-top: 4px;
    min-width: 326px;
    padding-left: 0;
    width: 326px
}

.gb_nd.gb_Md .gb_Bd {
    min-width: 254px;
    width: 254px
}

.gb_nd.gb_Kd .gb_Bd {
    padding-top: 32px
}

.gb_Nd {
    display: block;
    display: inline-block;
    padding: 1em 0 0 0;
    position: relative;
    width: 100%
}

.gb_Od {
    color: #ff0000;
    font-style: italic;
    margin: 0;
    padding-left: 46px
}

.gb_Nd .gb_Pd {
    float: right;
    margin: -20px 0;
    width: -webkit-calc(100% - 46px);
    width: calc(100% - 46px)
}

.gb_Qd svg {
    fill: grey
}

.gb_Qd.gb_Rd svg {
    fill: #4285f4
}

.gb_Nd .gb_Pd label:after {
    background-color: #4285f4
}

.gb_Qd {
    display: inline;
    float: right;
    margin-right: 22px;
    position: relative;
    top: 2px
}

.gb_Ud {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 19px;
    padding-top: 5px;
    padding-left: 12px;
    position: relative;
    background-color: #4d90fe
}

.gb_Ud .gb_Vd {
    color: #ffffff;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    right: 12px;
    top: 5px
}

.gb_Ud .gb_yd,.gb_Ud .gb_wd {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin-left: 16px;
    padding: 0 8px;
    white-space: nowrap
}

.gb_Wd {
    background: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.16)),to(rgba(0,0,0,0.2)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image: linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: default!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
    text-decoration: none!important;
    -webkit-border-radius: 2px
}

.gb_Wd:hover {
    background: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.14)),to(rgba(0,0,0,0.2)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image: linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000)
}

.gb_Wd:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
}

.gb_ta .gb_0 {
    color: #4285f4
}

.gb_ta .gb_1 {
    color: #fff
}

.gb_ta .gb_6c:not(.gb_5e):focus {
    outline: none
}

sentinel {
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px
}

.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%
}

@-webkit-keyframes qs-timer {
    0% {
    }
}
</style>
</head>
<body jsmodel="TvHxbe">
<style>
.L3eUgb {
    display: flex;
    flex-direction: column;
    height: 100%
}

.o3j99 {
    flex-shrink: 0;
    box-sizing: border-box
}

.n1xJcf {
    height: 60px
}

.LLD4me {
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px)
}

.yr19Zb {
    min-height: 92px
}

.ikrT4e {
    max-height: 160px
}

.qarstb {
    flex-grow: 1
}
</style>
<div class="L3eUgb">
<div class="o3j99 n1xJcf Ne6nSd">
    <style>
        .Ne6nSd {
            display: flex;
            align-items: center;
            padding: 6px
        }

        a.MV3Tnb {
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
            color: #222
        }

        a.MV3Tnb:first-of-type {
            margin-left: 15px
        }

        .LX3sZb {
            display: inline-block;
            flex-grow: 1
        }
    </style>
   
